$blue-title: #244677;
$text: #495057;
$blue-label: #12295B;
$input-background: #F1F3F5;
$input-placeholder: #495057;
$normal-btn-background: #12295B;
$hover-btn-background: #0E2149;
$disabled-btn-background: #2A3E6B;
$black: #000000;
$white: #FFFFFF;
